body {
    font-family: 'roboto';
    font-size: 14px;
    /*color: black;*/
    /*font-family: New Century Schoolbook;*/
    background-color: #F5FFFA;
}

.backgroundTeach {
    position: absolute;
    left: 0;
    top: 0;
}

@font-face {
    font-family: 'custFont';
    src: url('BlackKnightFLF.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('Roboto-Bold.ttf');
}

@font-face {
    font-family: 'canterbury';
    src: url('Canterbury.ttf')
}

@font-face {
    font-family: 'amperzand';
    src: url('Amperzand.ttf')
}

@font-face {
    font-family: 'ithornet';
    src: url('Ithornet.ttf')
}

@font-face {
    font-family: 'Embossed Germanica';
    src: url('Embossed Germanica.ttf')
}


/*.imgContainer div{*/


/*height: 200px !important;*/


/*overflow: hidden !important;*/


/*border: 2px solid red ;*/


/*}*/


/*.imgContainer img{*/


/*width: 100% !important;*/


/*}*/

#hmeHeader {
    background: #f00;
    height: 110px;
}

#Home_header {
    padding: 10px 0px 10px 0px;
}

#imgHeader {
    height: 90px;
    width: 90px;
}

#txtHeader {
    color: #fff;
    font-size: large !important;
    text-align: center !important;
}

.menuFont {
    font-family: 'custFont' !important;
    color: #fff !important;
}

#navMenu,
.bg-light {
    height: 45px;
    width: 100%;
    background-color: #FF8C00;
}

.imgContainer div {
    height: auto;
    width: 100%;
}

.imgContainer img {
    width: 100%;
}

.carousel-item {
    height: 500px !important;
    overflow: hidden !important;
}

.carousel-item img {
    width: 100% !important;
}

.lwanga {
    width: 100% !important;
    overflow: hidden !important;
}


/*.lwanga div div div img {
	width:100%;
	overflow: hidden;*/

.hometext {
    text-align: left !important;
    margin: 30px 0px;
    color: #FFEBCD !important;
}

hometext h5 {
    text-align: left !important;
    color: #FFEBCD !important;
}

h1 {
    font-size: 50px !important;
    font-family: 'roboto' !important;
    color: black !important;
    text-align: center;
}

.homeTheme {
    margin-top: 50px;
}

.home_images div.lwanga {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.home_images div div.homeimg {
    margin: 5px 0px 20px 0px;
    font-family: Garamond, serif;
    color: #000000;
}

h3 {
    font-family: 'roboto-bold';
    font-size: 30px;
    color: red;
    text-align: center;
}

h5 {
    font-family: 'amperzand';
    color: black;
    text-align: center;
}

.homeimg {
    height: 150px !important;
    width: 100% !important;
    box-shadow: 0px 0px 5px #333;
    overflow: hidden !important;
}

.smallimgBox {
    height: 100px !important;
    width: 100% !important;
    overflow: hidden !important;
}

.MOU {
    border-radius: 20px !important;
    height: auto !important;
    width: 250px !important;
    overflow: hidden !important;
}

.mou_imgTeach {
    height: 150px !important;
    width: 100% !important;
    box-shadow: 0px 0px 2px #333;
    overflow: hidden !important;
}

.open_boxTeach {
    height: 300px;
    width: 250px;
    overflow: hidden;
}

.c-align {
    text-align: center;
}

.l-align {
    text-align: left;
}

.r-align {
    text-align: right;
}

.footerfoot {
    height: 40px;
    margin-top: 60px;
}

.footertop {
    color: #FFEBCD;
}

.hmefooter h5 {}

.hmefooter p {
    font-size: 13px;
}

.hmefooter {
    border-top: 35px solid #FF8C00;
    padding-top: 10px;
    background-color: #2e3133;
    color: white;
}

.footerfoot {
    height: 80px;
    width: 100%;
    text-align: center;
    color: #CD853F;
}

.navlist {
    text-align: center !important;
}

.navlist ul {
    margin: auto !important;
}

.navlist ul li {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -5px !important;
}

.navlist ul li a {
    font-family: 'roboto-bold';
    font-size: 15px;
    color: #333 !important;
}

.churchBg {
    background: url("../images/MOU_Building.jpeg") no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.grayBg {
    background: #ccc;
}

.lightgreyBg {
    background: #DCDCDC;
}

.redColour {
    color: #f00;
}

.b-line {
    border-bottom: 1px solid #ccc;
}

.r-line {
    border-right: 1px solid #ccc;
}

.space40 {
    margin: 20px 0px;
}

.space20 {
    margin: 10px 0px;
}

.grayColour {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

.gallYouth {
    height: 130px;
    width: 130px;
    margin: 3px 3px;
    box-shadow: 0px 0px 5px #333;
    overflow: hidden !important;
    background-color: #FAEBDC;
    /*display:none;*/
}

.gallImg {
    width: 100% !important;
    box-shadow: 0px 0px 30px #A52A2A;
}

#gallhead {
    padding: 10px 0px;
}

#gallFont {
    font-family: 'amperzand' !important;
    font-size: 50px;
    text-align: center;
}

.TeachMarian {
    height: 180px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.imgMarian img {
    height: 100%;
    width: 100%;
}

.TeachSections {
    padding: 0px 1px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.TeachBody {
    background-image: url(http://localhost/PROJECTS/mou_website/components/images/VaticanCityFlag.jpg);
    text-align: center;
}

#lists {}

.gallimglay {
    margin-left: 0px;

}

.gallery_img_container,
.gallery_img_container1 {
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.gallery_img_container1 {
    margin-bottom: 30px;
}

.gallery_img_container2 {
    height: 250px;
}